// Footer
footer(class="relative bg-light border-t border-black overflow-hidden z-1")
  // Footer Top
  div(class="pt-[90px] max-lg:pt-13.5 pb-14.5 max-lg:pb-5 max-md:!pb-0")
    div(class="container")
      div(class="row")
        div(data-wow-delay="0.1s", class="w-full wow fadeInUp xl:w-1/4 md:w-1/3 sm:w-1/2")
          div(class="mr-2 widget_about mb-7.5")
            div(class="mb-6")
              a(href="index.html")
                img(
                  class="max-w-[180px]",
                  alt="",
                  src="/client/assets/images/logo.svg"
                )
            ul(class="mb-6")
              li(class="py-1 text-2sm font-medium")
                p
                  span Address
                  | : 451 Wall Street, UK, London
              li(class="py-1 text-2sm font-medium")
                p
                  span E-mail
                  | : example@info.com
              li(class="py-1 text-2sm font-medium")
                p
                  span Phone
                  | : (064) 332-1233
            h6(class="capitalize mb-2") subscribe to our newsletter
            form(
              method="post",
              action="script/mailchamp.php",
              class="dzSubscribe style-1"
            )
              div(class="dzSubscribeMsg")
              div(class="form-group")
                div(class="relative flex flex-wrap items-stretch w-full")
                  input(
                    placeholder="Your Email Address",
                    class="flex-auto px-5 border border-white rounded-xl bg-light2 outline-none w-[1%] h-[45px] py-2.5 focus:shadow-focus",
                    type="email",
                    required="required",
                    name="dzEmail"
                  )
                  div(class="absolute right-0 z-9 top-1/2 -translate-y-1/2")
                    button(
                      class="group size-13.5",
                      type="submit",
                      value="Submit",
                      name="submit"
                    )
                      i(
                        class="icon feather icon-arrow-right text-xl group-hover:animate-toLeftFromRight"
                      )
        div(data-wow-delay="0.2s", class="w-full wow fadeInUp xl:w-1/4 md:w-1/3 sm:w-1/2")
          div(class="mb-7.5")
            h5(class="text-xl mb-5 leading-[1.2]") Recent Posts
            ul
              li(class="flex items-center mb-4")
                div(class="size-14.5 min-w-14.5 mr-3.6")
                  img(
                    alt="",
                    src="/client/assets/images/shop/product/small/1.png",
                    class="rounded-xl w-full"
                  )
                div
                  h6
                    a(href="post-standard.html") Cozy Knit Cardigan Sweater
                  span(class="text-2xs") July 23, 2024
              li(class="flex items-center mb-4")
                div(class="size-14.5 min-w-14.5 mr-3.6")
                  img(
                    alt="",
                    src="/client/assets/images/shop/product/small/2.png",
                    class="rounded-xl w-full"
                  )
                div
                  h6
                    a(href="post-standard.html") Sophisticated Swagger Suit
                  span(class="text-2xs") July 23, 2024
              li(class="flex items-center mb-4")
                div(class="size-14.5 min-w-14.5 mr-3.6")
                  img(
                    alt="",
                    src="/client/assets/images/shop/product/small/3.png",
                    class="rounded-xl w-full"
                  )
                div
                  h6
                    a(href="post-standard.html") Athletic Mesh Sports Leggings
                  span(class="text-2xs") July 23, 2024
        div(data-wow-delay="0.3s", class="wow fadeInUp xl:w-1/6 sm:w-1/3 w-1/2")
          div(class="font-medium mb-7.5")
            h5(class="text-xl mb-5 leading-[1.2]") Our Stores
            ul
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") New York
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") London SF
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Edinburgh
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Los Angeles
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Chicago
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Las Vegas
        div(data-wow-delay="0.4s", class="wow fadeInUp xl:w-1/6 sm:w-1/3 w-1/2")
          div(class="font-medium mb-7.5")
            h5(class="text-xl mb-5 leading-[1.2]") Useful Links
            ul
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Privacy Policy
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Returns
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Terms & Conditions
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Contact Us
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Latest News
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Our Sitemap
        div(data-wow-delay="0.5s", class="w-full wow fadeInUp xl:w-1/6 sm:w-1/3")
          div(class="font-medium mb-7.5")
            h5(class="text-xl mb-5 leading-[1.2]") Footer Menu
            ul
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Instagram profile
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") New Collection
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Woman Dress
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Contact Us
              li(class="py-2 text-2sm leading-5")
                a(href="javascript:void(0);", class="hover:text-primary") Latest News
  // Footer Top End
  // Footer Bottom
  div(class="footer-bottom")
    div(class="container")
      div(
        data-wow-delay="0.1s",
        class="row py-7 border-t font-semibold text-2sm wow fadeInUp max-sm:py-5 border-black/10 max-sm:text-sm"
      )
        div(class="w-full text-start lg:w-1/2 max-lg:text-center")
          p(class="copyright-text")
            | ©
            span(class="current-year") 2024
            a(href="https://www.dexignzone.com/", target="_blank", class="text-primary") DexignZone
            | Theme. All Rights Reserved.
        div(class="w-full text-end lg:w-1/2 max-lg:text-center max-lg:mt-3.6")
          div(class="flex items-center justify-center md:justify-center xl:justify-end")
            span(class="mr-4") We Accept:
            img(alt="", src="/client/assets/images/footer-img.png")

  // Footer Bottom End
  // Footer End
