// Blog Start
section(class="pt-17 overflow-hidden pb-0 max-lg:pt-13.5")
  div(class="container")
    div(class="row justify-between items-center")
      div(class="w-full lg:w-1/2 md:w-2/3")
        div(data-wow-delay="0.1s", class="mb-10 m-0 wow fadeInUp max-md:mb-5")
          div(class="left-content")
            h2(class="title") Discover the most trending Post in Pixio.
      div(
        data-wow-delay="0.2s",
        class="w-full wow fadeInUp lg:w-1/2 md:w-1/3 md:text-right mb-7.5"
      )
        a(
          href="shop-standard.html",
          class="relative rounded-full animation-btn hidden w-[140px] p-2.5 md:inline-block"
        )
          div(
            class="flex justify-center items-center rounded-full animate-rotate text-center text-row word-rotate-box c-black size-[140px] after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:-z-1 after:rounded-full"
          )
            span(class="word-rotate") latest news - latest news -
            svg(
              fill="none",
              viewBox="0 0 40 40",
              height="40",
              width="40",
              xmlns="http://www.w3.org/2000/svg",
              class="block animate-rotate badge__emoji [animation-direction:reverse]"
            )
              g(clip-path="url(#clip0_85_881)")
                path(
                  fill="black",
                  d="M31.3072 10.7239L39.5891 19.0059C39.8523 19.2696 40.0001 19.627 40.0001 19.9995C40.0001 20.3721 39.8523 20.7295 39.5891 20.9932L31.3072 29.2752C31.1236 29.4582 30.8748 29.5608 30.6156 29.5606C30.3564 29.5604 30.1078 29.4573 29.9245 29.274C29.7412 29.0907 29.6381 28.8422 29.6379 28.5829C29.6377 28.3237 29.7404 28.075 29.9234 27.8913L36.8368 20.9781L0.978516 20.9781C0.718997 20.9781 0.470108 20.875 0.2866 20.6915C0.103093 20.508 -1.17109e-07 20.2591 -1.14015e-07 19.9995C-1.1092e-07 19.74 0.103093 19.4911 0.2866 19.3076C0.470108 19.1241 0.718997 19.021 0.978516 19.021L36.8368 19.021L29.9234 12.1077C29.7404 11.9241 29.6377 11.6754 29.6379 11.4162C29.6381 11.1569 29.7412 10.9084 29.9245 10.7251C30.1078 10.5418 30.3564 10.4387 30.6156 10.4385C30.8748 10.4383 31.1236 10.5409 31.3072 10.7239Z"
                )
              defs
                clippath#clip0_85_881
                  rect(
                    transform="matrix(-1.19249e-08 1 1 1.19249e-08 0 0)",
                    fill="white",
                    height="40",
                    width="40"
                  )
  div(class="swiper swiper-blog-post")
    div(class="swiper-wrapper")
      div(class="swiper-slide")
        div(
          data-wow-delay="0.2s",
          class="relative overflow-hidden dz-card wow fadeInUp mb-7.5 rounded-3.5xl"
        )
          div(class="relative overflow-hidden dz-media")
            img(alt="", src="/client/assets/images/blog/grid/1.jpg", class="w-full")
            div(
              class="text-sm font-semibold capitalize absolute z-9 bg-white px-3 rounded-md top-7.5 left-7.5 py-1.1"
            ) 17 May 2024
          div(
            class="absolute bottom-5 flex items-center justify-between left-1/2 max-lg:bottom-3.6 max-sm:!bottom-2.5 w-[calc(100%_-_40px)] max-lg:w-[calc(100%_-_30px)] max-sm:!w-[calc(100%_-_20px)] -translate-x-1/2 p-2.5 max-lg:p-3.6 max-sm:!p-3"
          )
            h4(class="text-lg lg:text-2xl [text-shadow:0px_0px_30px_#000]")
              a(href="blog-light-3-column.html", class="text-white") Style Diaries: A Week in Fashion
            ul(class="blog-social group")
              li(class="relative z-9999")
                a(
                  href="javascript:void(0);",
                  class="inline-block text-center rounded-full bg-white text-xxl duration-500 size-13.5 leading-[45px] group-hover:bg-primary"
                )
                  svg(
                    fill="none",
                    viewBox="0 0 24 24",
                    height="24",
                    width="24",
                    xmlns="http://www.w3.org/2000/svg"
                  )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 17L17 7",
                      class="group-hover:stroke-white"
                    )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 7H17V17",
                      class="group-hover:stroke-white"
                    )
                ul(
                  class="absolute w-10 duration-500 -z-1 bottom-0 opacity-0 group-hover:bottom-17 group-hover:opacity-100"
                )
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.facebook.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-facebook-f")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://twitter.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-twitter")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.instagram.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-instagram")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.linkedin.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fa-brands fa-linkedin-in")
      div(class="swiper-slide")
        div(
          data-wow-delay="0.4s",
          class="relative overflow-hidden dz-card wow fadeInUp mb-7.5 rounded-3.5xl"
        )
          div(class="relative overflow-hidden dz-media")
            img(alt="", src="/client/assets/images/blog/grid/2.jpg", class="w-full")
            div(
              class="text-sm font-semibold capitalize absolute z-9 bg-white px-3 rounded-md top-7.5 left-7.5 py-1.1"
            ) 28 Feb 2024
          div(
            class="absolute bottom-5 flex items-center justify-between left-1/2 max-lg:bottom-3.6 max-sm:!bottom-2.5 w-[calc(100%_-_40px)] max-lg:w-[calc(100%_-_30px)] max-sm:!w-[calc(100%_-_20px)] -translate-x-1/2 p-2.5 max-lg:p-3.6 max-sm:!p-3"
          )
            h4(class="text-lg lg:text-2xl [text-shadow:0px_0px_30px_#000]")
              a(href="blog-light-3-column.html", class="text-white") Chic & Unique: Personalized Fashion Finds
            ul(class="blog-social group")
              li(class="relative z-9999")
                a(
                  href="javascript:void(0);",
                  class="inline-block text-center rounded-full bg-white text-xxl duration-500 size-13.5 leading-[45px] group-hover:bg-primary"
                )
                  svg(
                    fill="none",
                    viewBox="0 0 24 24",
                    height="24",
                    width="24",
                    xmlns="http://www.w3.org/2000/svg"
                  )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 17L17 7",
                      class="group-hover:stroke-white"
                    )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 7H17V17",
                      class="group-hover:stroke-white"
                    )
                ul(
                  class="absolute w-10 duration-500 -z-1 bottom-0 opacity-0 group-hover:bottom-17 group-hover:opacity-100"
                )
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.facebook.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-facebook-f")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://twitter.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-twitter")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.instagram.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-instagram")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.linkedin.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fa-brands fa-linkedin-in")
      div(class="swiper-slide")
        div(
          data-wow-delay="0.6s",
          class="relative overflow-hidden dz-card wow fadeInUp mb-7.5 rounded-3.5xl"
        )
          div(class="relative overflow-hidden dz-media")
            img(alt="", src="/client/assets/images/blog/grid/3.jpg", class="w-full")
            div(
              class="text-sm font-semibold capitalize absolute z-9 bg-white px-3 rounded-md top-7.5 left-7.5 py-1.1"
            ) 15 Aug 2024
          div(
            class="absolute bottom-5 flex items-center justify-between left-1/2 max-lg:bottom-3.6 max-sm:!bottom-2.5 w-[calc(100%_-_40px)] max-lg:w-[calc(100%_-_30px)] max-sm:!w-[calc(100%_-_20px)] -translate-x-1/2 p-2.5 max-lg:p-3.6 max-sm:!p-3"
          )
            h4(class="text-lg lg:text-2xl [text-shadow:0px_0px_30px_#000]")
              a(href="blog-light-3-column.html", class="text-white") Dress to Impress: Elevate Your Everyday Style
            ul(class="blog-social group")
              li(class="relative z-9999")
                a(
                  href="javascript:void(0);",
                  class="inline-block text-center rounded-full bg-white text-xxl duration-500 size-13.5 leading-[45px] group-hover:bg-primary"
                )
                  svg(
                    fill="none",
                    viewBox="0 0 24 24",
                    height="24",
                    width="24",
                    xmlns="http://www.w3.org/2000/svg"
                  )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 17L17 7",
                      class="group-hover:stroke-white"
                    )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 7H17V17",
                      class="group-hover:stroke-white"
                    )
                ul(
                  class="absolute w-10 duration-500 -z-1 bottom-0 opacity-0 group-hover:bottom-17 group-hover:opacity-100"
                )
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.facebook.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-facebook-f")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://twitter.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-twitter")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.instagram.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-instagram")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.linkedin.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fa-brands fa-linkedin-in")
      div(class="swiper-slide")
        div(
          data-wow-delay="0.8s",
          class="relative overflow-hidden dz-card wow fadeInUp mb-7.5 rounded-3.5xl"
        )
          div(class="relative overflow-hidden dz-media")
            img(alt="", src="/client/assets/images/blog/grid/4.jpg", class="w-full")
            div(
              class="text-sm font-semibold capitalize absolute z-9 bg-white px-3 rounded-md top-7.5 left-7.5 py-1.1"
            ) 28 Nov 2024
          div(
            class="absolute bottom-5 flex items-center justify-between left-1/2 max-lg:bottom-3.6 max-sm:!bottom-2.5 w-[calc(100%_-_40px)] max-lg:w-[calc(100%_-_30px)] max-sm:!w-[calc(100%_-_20px)] -translate-x-1/2 p-2.5 max-lg:p-3.6 max-sm:!p-3"
          )
            h4(class="text-lg lg:text-2xl [text-shadow:0px_0px_30px_#000]")
              a(href="blog-light-3-column.html", class="text-white") Street Style Safari: Global Fashion Influences
            ul(class="blog-social group")
              li(class="relative z-9999")
                a(
                  href="javascript:void(0);",
                  class="inline-block text-center rounded-full bg-white text-xxl duration-500 size-13.5 leading-[45px] group-hover:bg-primary"
                )
                  svg(
                    fill="none",
                    viewBox="0 0 24 24",
                    height="24",
                    width="24",
                    xmlns="http://www.w3.org/2000/svg"
                  )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 17L17 7",
                      class="group-hover:stroke-white"
                    )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 7H17V17",
                      class="group-hover:stroke-white"
                    )
                ul(
                  class="absolute w-10 duration-500 -z-1 bottom-0 opacity-0 group-hover:bottom-17 group-hover:opacity-100"
                )
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.facebook.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-facebook-f")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://twitter.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-twitter")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.instagram.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-instagram")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.linkedin.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fa-brands fa-linkedin-in")
      div(class="swiper-slide")
        div(
          data-wow-delay="1.0s",
          class="relative overflow-hidden dz-card wow fadeInUp mb-7.5 rounded-3.5xl"
        )
          div(class="relative overflow-hidden dz-media")
            img(alt="", src="/client/assets/images/blog/grid/5.jpg", class="w-full")
            div(
              class="text-sm font-semibold capitalize absolute z-9 bg-white px-3 rounded-md top-7.5 left-7.5 py-1.1"
            ) 13 Feb 2024
          div(
            class="absolute bottom-5 flex items-center justify-between left-1/2 max-lg:bottom-3.6 max-sm:!bottom-2.5 w-[calc(100%_-_40px)] max-lg:w-[calc(100%_-_30px)] max-sm:!w-[calc(100%_-_20px)] -translate-x-1/2 p-2.5 max-lg:p-3.6 max-sm:!p-3"
          )
            h4(class="text-lg lg:text-2xl [text-shadow:0px_0px_30px_#000]")
              a(href="blog-light-3-column.html", class="text-white") Fashion & Beauty Fusion: The Ultimate Style Guide
            ul(class="blog-social group")
              li(class="relative z-9999")
                a(
                  href="javascript:void(0);",
                  class="inline-block text-center rounded-full bg-white text-xxl duration-500 size-13.5 leading-[45px] group-hover:bg-primary"
                )
                  svg(
                    fill="none",
                    viewBox="0 0 24 24",
                    height="24",
                    width="24",
                    xmlns="http://www.w3.org/2000/svg"
                  )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 17L17 7",
                      class="group-hover:stroke-white"
                    )
                    path(
                      stroke-linejoin="round",
                      stroke-linecap="round",
                      stroke-width="2",
                      stroke="black",
                      d="M7 7H17V17",
                      class="group-hover:stroke-white"
                    )
                ul(
                  class="absolute w-10 duration-500 -z-1 bottom-0 opacity-0 group-hover:bottom-17 group-hover:opacity-100"
                )
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.facebook.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-facebook-f")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://twitter.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-twitter")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.instagram.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fab fa-instagram")
                  li(class="mb-2 relative z-9999")
                    a(
                      target="_blank",
                      href="https://www.linkedin.com/",
                      class="inline-block text-center rounded-full bg-white text-xxl size-13.5 leading-[50px]"
                    )
                      i(class="fa-brands fa-linkedin-in")
// Blog End
