// About Section Start
section(class="pt-25 content-inner-2 overflow-hidden max-3xl:pt-17 max-md:!pt-13.5")
  div(class="container")
    div(class="row items-start xl:items-center")
      div(class="w-full self-center lg:w-5/12 mb-7.5")
        div(
          data-wow-delay="0.2s",
          class="z-1 mr-10 relative img-ho1 wow fadeInUp max-xl:mr-2.5 max-lg:mr-0"
        )
          img(
            alt="image",
            src="/client/assets/images/about/pic3.jpg",
            class="rounded-t-full w-full duration-700"
          )
      div(class="w-full lg:w-7/12")
        div(class="row justify-between items-center")
          div(class="w-full lg:w-2/3 md:w-2/3")
            div(data-wow-delay="0.4s", class="mb-10 wow fadeInUp max-md:mb-5")
              div(class="left-content")
                h2(
                  class="text-4xl capitalize max-lg:text-2.5xl max-sm:text-xl max-sm:mb-1.5"
                ) Users Who Viewed This Also Checked Out These Similar Profiles
          div(data-wow-delay="0.6s", class="w-full wow fadeInUp md:w-1/3 md:text-right")
            a(
              href="shop-standard.html",
              class="icon-button relative rounded-full hidden w-[140px] p-2.5 md:block md:ml-auto mb-7.5"
            )
              div(
                class="flex justify-center items-center rounded-full animate-rotate text-center text-row word-rotate-box c-black size-[140px] after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:-z-1 after:rounded-full"
              )
                span(class="word-rotate") all products - all products -
                svg(
                  fill="none",
                  viewBox="0 0 40 40",
                  height="40",
                  width="40",
                  xmlns="http://www.w3.org/2000/svg",
                  class="block animate-rotate badge__emoji [animation-direction:reverse]"
                )
                  g(clip-path="url(#clip0_85_1327)")
                    path(
                      fill="black",
                      d="M31.3072 10.7239L39.5891 19.0059C39.8523 19.2696 40.0001 19.627 40.0001 19.9995C40.0001 20.3721 39.8523 20.7295 39.5891 20.9932L31.3072 29.2752C31.1236 29.4582 30.8748 29.5608 30.6156 29.5606C30.3564 29.5604 30.1078 29.4573 29.9245 29.274C29.7412 29.0907 29.6381 28.8422 29.6379 28.5829C29.6377 28.3237 29.7404 28.075 29.9234 27.8913L36.8368 20.9781L0.978516 20.9781C0.718997 20.9781 0.470108 20.875 0.2866 20.6915C0.103093 20.508 -1.17109e-07 20.2591 -1.14015e-07 19.9995C-1.1092e-07 19.74 0.103093 19.4911 0.2866 19.3076C0.470108 19.1241 0.718997 19.021 0.978516 19.021L36.8368 19.021L29.9234 12.1077C29.7404 11.9241 29.6377 11.6754 29.6379 11.4162C29.6381 11.1569 29.7412 10.9084 29.9245 10.7251C30.1078 10.5418 30.3564 10.4387 30.6156 10.4385C30.8748 10.4383 31.1236 10.5409 31.3072 10.7239Z"
                    )
                  defs
                    clippath#clip0_85_1327
                      rect(
                        transform="matrix(-1.19249e-08 1 1 1.19249e-08 0 0)",
                        fill="white",
                        height="40",
                        width="40"
                      )
        div(class="row")
          div(class="w-full md:w-1/3 sm:w-1/2 mb-3.6")
            div(data-wow-delay="0.8s", class="relative z-1 h-full group wow fadeInUp")
              div(class="relative overflow-hidden rounded-3xl mb-3.6")
                img(
                  class="rounded-3xl duration-500 w-full group-hover:scale-125",
                  alt="image",
                  src="/client/assets/images/shop/product-2/1.png"
                )
              div(class="flex justify-between")
                div
                  span(class="text-primary font-semibold text-2xs capitalize") up to 79% off
                  h6(class="text-sm capitalize w-full")
                    a(href="shop-list.html") Cozy Knit Cardigan Sweater
                h6(class="text-base text-end")
                  | $80
                  del(class="block text-xs text-body py-1.1") $95
          div(class="w-full md:w-1/3 sm:w-1/2 mb-3.6")
            div(data-wow-delay="1.0s", class="relative z-1 h-full group wow fadeInUp")
              div(class="relative overflow-hidden rounded-3xl mb-3.6")
                img(
                  class="rounded-3xl duration-500 w-full group-hover:scale-125",
                  alt="image",
                  src="/client/assets/images/shop/product-2/2.png"
                )
              div(class="flex justify-between")
                div
                  span(class="text-primary font-semibold text-2xs capitalize") up to 79% off
                  h6(class="text-sm capitalize w-full")
                    a(href="shop-list.html") Sophisticated Swagger Suit
                h6(class="text-base text-end")
                  | $80
                  del(class="block text-xs text-body py-1.1") $95
          div(class="w-full md:w-1/3 sm:w-1/2 mb-3.6")
            div(data-wow-delay="1.2s", class="relative z-1 h-full group wow fadeInUp")
              div(class="relative overflow-hidden rounded-3xl mb-3.6")
                img(
                  class="rounded-3xl duration-500 w-full group-hover:scale-125",
                  alt="image",
                  src="/client/assets/images/shop/product-2/3.png"
                )
              div(class="flex justify-between")
                div
                  span(class="text-primary font-semibold text-2xs capitalize") up to 79% off
                  h6(class="text-sm capitalize w-full")
                    a(href="shop-list.html") Classic Denim Skinny Jeans
                h6(class="text-base text-end")
                  | $80
                  del(class="block text-xs text-body py-1.1") $95
// About Section End
