// Featured Section Start
section(
  class="pt-10 pb-5 overflow-hidden 3xl:pt-25 3xl:pb-17 md:pt-17 md:pb-10 sm:pt-13.5 sm:pb-5"
)
  div(class="container")
    div(data-wow-delay="0.2s", class="mb-10 wow fadeInUp flex justify-between max-md:mb-5")
      div(class="left-content")
        h2(class="title") Featured now
      a(href="shop-list.html", class="text-secondary text-sm flex items-center gap-1")
        | See All
        i(class="icon feather icon-chevron-right text-lg")
    div(class="swiper swiper-product2 swiper-visible overflow-visible")
      div(class="swiper-wrapper")
        div(class="swiper-slide")
          div(
            data-wow-delay="0.4s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/1.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Cozy Knit Cardigan Sweater
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
        div(class="swiper-slide")
          div(
            data-wow-delay="0.6s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/2.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Sophisticated Swagger Suit
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
        div(class="swiper-slide")
          div(
            data-wow-delay="0.8s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/3.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Classic Denim Skinny Jeans
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
        div(class="swiper-slide")
          div(
            data-wow-delay="0.4s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/1.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Cozy Knit Cardigan Sweater
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
        div(class="swiper-slide")
          div(
            data-wow-delay="0.6s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/2.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Sophisticated Swagger Suit
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
        div(class="swiper-slide")
          div(
            data-wow-delay="0.8s",
            class="relative z-1 h-full flex items-center border border-black rounded-xl group wow fadeInUp sm:py-3.6 sm:px-[17px] p-2.5 shadow-[5px_15px_30px_0px_rgba(82,48,0,0.13)]"
          )
            div(
              class="relative overflow-hidden rounded-xl w-29 h-36 min-w-29 duration-500 sm:h-[165px] sm:w-[150px] sm:min-w-[150px] sm:mr-3.6 mr-2.5"
            )
              img(
                class="w-full h-full object-cover rounded-xl duration-500 group-hover:scale-125",
                alt="image",
                src="/client/assets/images/shop/product/3.png"
              )
            div(class="flex flex-col justify-between")
              div
                h6(class="text-xl font-medium capitalize w-full")
                  a(href="shop-list.html") Classic Denim Skinny Jeans
                span(class="text-primary text-sm font-medium capitalize") Up to 40% Off
              div(class="flex items-center")
                h6(class="text-base text-end")
                  | $80
                  del(class="text-xs text-body ml-1.1 mr-2.5") $95
                span(class="text-sm text-[#00000080]")
                  i(class="fa-solid fa-star mr-1.1 text-[#FFA048]")
                  | (2k Review)
// Featured Section End
