// company-box Start
section(class="pt-25 content-inner-2 max-3xl:pt-17 max-md:!pt-13.5")
  div(class="container")
    div(data-wow-delay="0.2s", class="mb-10 wow fadeInUp flex justify-between max-md:mb-5")
      div(class="left-content")
        h2 Sponsored
      a(href="shop-list.html", class="text-secondary text-sm flex items-center gap-1")
        | See All
        i(class="icon feather icon-chevron-right text-lg")
    div(class="swiper swiper-company")
      div(class="swiper-wrapper")
        div(class="swiper-slide")
          div(data-wow-delay="0.4s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/1.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo1.png"
              )
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") Outdoor Shoes
              span(class="text-sm font-medium capitalize") Min. 30% Off
        div(class="swiper-slide")
          div(data-wow-delay="0.6s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/2.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo2.png"
              )
              span(
                class="text-sm font-semibold capitalize absolute z-9 bg-white rounded-3xl right-3.6 top-3.6 py-1.1 px-2.5"
              ) in Store
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") Best Cloths
              span(class="text-sm font-medium capitalize") Up To 20% Off
        div(class="swiper-slide")
          div(data-wow-delay="0.8s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/1.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo3.png"
              )
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") Sports Shoes
              span(class="text-sm font-medium capitalize") up to 30% Off
        div(class="swiper-slide")
          div(data-wow-delay="1.0s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/3.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo4.png"
              )
              span(
                class="text-sm font-semibold capitalize absolute z-9 bg-white rounded-3xl right-3.6 top-3.6 py-1.1 px-2.5"
              ) in Store
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") modern jewellery
              span(class="text-sm font-medium capitalize") Min. 30% Off
        div(class="swiper-slide")
          div(data-wow-delay="1.2s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/1.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo1.png"
              )
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") Outdoor Shoes
              span(class="text-sm font-medium capitalize") Min. 30% Off
        div(class="swiper-slide")
          div(data-wow-delay="1.4s", class="group wow fadeInUp")
            div(
              class="relative z-1 rounded-3xl overflow-hidden mb-3.6 after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:bg-[#00000066] after:rounded-3xl after:z-0"
            )
              img(
                class="duration-500 w-full group-hover:scale-125",
                alt="image",
                src="/client/assets/images/company/2.jpg"
              )
              img(
                class="absolute z-99 w-[120px] top-1/2 left-1/2 [transform:translate(-50%,_-50%)]",
                alt="image",
                src="/client/assets/images/company/logo/logo2.png"
              )
              span(
                class="text-sm font-semibold capitalize absolute z-9 bg-white rounded-3xl right-3.6 top-3.6 py-1.1 px-2.5"
              ) in Store
            div(class="flex items-center justify-between")
              h6(class="text-lg font-medium") Best Cloths
              span(class="text-sm font-medium capitalize") Up To 20% Off
// company-box End
