// About Section Start
section(
  class="pt-10 pb-5 overflow-hidden 3xl:pt-25 3xl:pb-17 md:pt-17 md:pb-10 sm:pt-13.5 sm:pb-5"
)
  div(class="container")
    div(class="row about-style1")
      div(class="w-full lg:w-1/2 mb-7.5")
        div(data-wow-delay="0.2s", class="h-full relative wow fadeInUp")
          div(class="h-full relative overflow-hidden")
            img(
              class="w-full h-full object-cover [mask-image:url(../images/bg-media.svg)] [mask-size:auto_100%] max-lg:[mask-size:100%] [mask-repeat:no-repeat] [mask-position:right]",
              alt="",
              src="/client/assets/images/women.png"
            )
          a(
            class="btn text-2xl inline-block font-medium font-Lufga border border-secondary rounded-xl bg-white duration-700 overflow-hidden absolute left-17 bottom-10 z-1 py-3.6 px-7.5 max-md:py-3 max-md:text-base leading-[1.2] hover:bg-secondary hover:text-white",
            href="shop-list.html"
          ) Woman collection
      div(class="w-full self-center lg:w-1/2")
        div(class="relative z-1")
          div(
            data-wow-delay="0.4s",
            class="block wow fadeInUp mb-[55px] w-4/5 max-md:w-full max-xl:mb-3 max-sm:!mb-1.5"
          )
            h3(class="text-4xl capitalize mb-3.6 max-lg:text-xl max-sm:mb-1.5") Set your wardrobe with our amazing selection!
            p(class="text-lg font-medium max-md:text-base text-[#000000b3]")
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
          a(
            href="about-us.html",
            data-wow-delay="0.6s",
            class="absolute top-0 right-0 rounded-full size-20 flex items-center justify-center bg-secondary wow fadeInUp hover:bg-primary max-md:hidden"
          )
            span(class="relative overflow-hidden inline-flex")
              svg(
                xmlns="http://www.w3.org/2000/svg",
                fill="none",
                viewBox="0 0 44 44",
                height="44",
                width="44"
              )
                path(
                  stroke-linejoin="round",
                  stroke-linecap="round",
                  stroke-width="2",
                  stroke="white",
                  d="M12.832 31.1663L31.1654 12.833"
                )
                path(
                  stroke-linejoin="round",
                  stroke-linecap="round",
                  stroke-width="2",
                  stroke="white",
                  d="M12.832 12.833H31.1654V31.1663"
                )
          div(class="row")
            div(class="w-full lg:w-1/2 sm:w-1/2")
              div(
                data-wow-delay="0.8s",
                class="relative z-1 h-auto group wow fadeInUp lg:h-full max-lg:mb-7.5"
              )
                div(class="rounded-4xl overflow-hidden relative")
                  img(
                    class="duration-500 w-full group-hover:scale-125",
                    alt="image",
                    src="/client/assets/images/shop/product/medium/1.png"
                  )
                div(class="absolute bottom-5 left-5 z-1 text-start flex justify-between")
                  a(
                    class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden bg-white px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                    href="shop-list.html"
                  ) Child Fashion
            div(class="w-full lg:w-1/2 sm:w-1/2")
              div(
                data-wow-delay="1.0s",
                class="relative z-1 h-auto group wow fadeInUp lg:h-full max-lg:mb-7.5"
              )
                div(class="rounded-4xl overflow-hidden relative")
                  img(
                    class="duration-500 w-full group-hover:scale-125",
                    alt="image",
                    src="/client/assets/images/shop/product/medium/2.png"
                  )
                div(class="absolute bottom-5 left-5 z-1 text-start flex justify-between")
                  a(
                    class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden bg-white px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                    href="shop-list.html"
                  ) Man collection
                span(
                  class="absolute flex items-center justify-center z-1 text-lg text-center font-semibold -top-7.5 right-[-45px] size-[115px] leading-[1.2] max-sm:-top-7.5 max-sm:-right-2.5 max-sm:size-[90px] max-sm:text-2sm"
                )
                  | 50%
                  br
                  | Sale
                  img(
                    alt="",
                    src="/client/assets/images/star.png",
                    class="absolute -z-1 animate-rotate"
                  )
// About Section End
