// collection-bx
section(
  class="relative z-1 flex items-center justify-center pt-17 overflow-hidden max-h-[700px] h-[700px] max-md:h-auto after:content-[\'\'] after:absolute after:top-0 after:left-0 after:w-[103%] after:h-full after:bg-[url(\'../images/collection.png\')] after:bg-cover after:z-[-2] after:bg-left pb-13.5 max-lg:pt-13.5 max-lg:pb-5"
)
  div(class="container")
    h2(
      data-wow-delay="0.2s",
      class="text-6xl capitalize text-center mx-auto relative z-9 wow fadeInUp max-xl:text-[45px] max-sm:!text-2.5xl !leading-[1.3] mb-7.5 w-[70%] max-lg:w-full"
    ) Upgrade your style with our top-notch collection.
    div(class="text-center")
      a(
        class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] mb-7.5",
        href="shop-list.html"
      ) All Collections
  div(
    class="absolute z-1 animate-move max-md:hidden top-[10%] left-[5%] max-lg:scale-75"
  )
    img(alt="", src="/client/assets/images/collection/1.png", class="rounded-ss-7xl")
  div(
    class="absolute z-1 animate-move max-md:hidden bottom-[10%] left-[17%] max-lg:scale-75"
  )
    img(alt="", src="/client/assets/images/collection/2.png", class="rounded-t-[110px]")
  div(
    class="absolute z-1 animate-move max-md:hidden top-[10%] right-[5%] max-lg:scale-75"
  )
    img(
      alt="",
      src="/client/assets/images/collection/3.png",
      class="rounded-ee-[110px]"
    )
  div(
    class="absolute z-1 animate-move max-md:hidden bottom-[10%] right-[17%] max-lg:scale-75"
  )
    img(alt="", src="/client/assets/images/collection/4.png", class="rounded-[130px]")
  div(
    class="absolute z-1 animate-move max-md:hidden top-[15%] left-[45%] max-lg:scale-75"
  )
    img(alt="", src="/client/assets/images/collection/5.png", class="rounded-se-13.5")
// collection-bx
