div(
  class="pt-20 pl-20 overflow-hidden main-slider-wrapper max-xl:pl-7.5 max-sm:!pl-3.6 max-sm:pt-[65px]"
)
  div(class="relative h-full pt-17 pb-14.5 max-xl:py-13.5 max-sm:!py-7.5")
    div(class="row")
      div(class="lg:w-1/2")
        div(class="slider-main pt-13.5 max-3xl:pt-0")
          div(class="slick-slide")
            div(class="h-full relative pr-3.6 pl-0.5 z-[2] pb-7.5 max-md:pb-0")
              h1(class="capitalize mb-5") Beautiful Woman Purple Sweater.
              div(class="flex items-center mb-10 max-3xl:mb-5")
                div(class="mr-[90px] max-md:mr-2.5")
                  span(class="text-sm font-semibold block") Price
                  span(
                    class="font-semibold inline-block font-Lufga text-4.5xl max-md:text-2.5xl"
                  ) $80.00
              div(class="content-btn mb-7.5")
                a(
                  class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden mr-2 px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] xl:mr-4",
                  href="shop-wishlist.html"
                ) ADD TO CART
                a(
                  class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                  href="product-default.html"
                ) VIEW DETAIL
          div(class="slick-slide")
            div(class="h-full relative pr-3.6 pl-0.5 z-[2] pb-7.5 max-md:pb-0")
              h1(class="capitalize mb-5") Shot Slad Curly Woman.
              div(class="flex items-center mb-10 max-3xl:mb-5")
                div(class="mr-[90px] max-md:mr-2.5")
                  span(class="text-sm font-semibold block") Price
                  span(
                    class="font-semibold inline-block text-4.5xl max-md:text-2.5xl"
                  ) $30.00
              div(class="content-btn mb-7.5")
                a(
                  class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden mr-2 px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] xl:mr-4",
                  href="shop-wishlist.html"
                ) ADD TO CART
                a(
                  class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                  href="product-default.html"
                ) VIEW DETAIL
          div(class="slick-slide")
            div(class="h-full relative pr-3.6 pl-0.5 z-[2] pb-7.5 max-md:pb-0")
              h1(class="capitalize mb-5") Athletic Mesh Sports Leggings.
              div(class="flex items-center mb-10 max-3xl:mb-5")
                div(class="mr-[90px] max-md:mr-2.5")
                  span(class="text-sm font-semibold block") Price
                  span(
                    class="font-semibold inline-block text-4.5xl max-md:text-2.5xl"
                  ) $75.00
              div(class="content-btn mb-7.5")
                a(
                  class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden mr-2 px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] xl:mr-4",
                  href="shop-wishlist.html"
                ) ADD TO CART
                a(
                  class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                  href="product-default.html"
                ) VIEW DETAIL
          div(class="slick-slide")
            div(class="h-full relative pr-3.6 pl-0.5 z-[2] pb-7.5 max-md:pb-0")
              h1(class="capitalize mb-5") Curly Girl Beautiful Dress.
              div(class="flex items-center mb-10 max-3xl:mb-5")
                div(class="mr-[90px] max-md:mr-2.5")
                  span(class="text-sm font-semibold block") Price
                  span(
                    class="font-semibold inline-block text-4.5xl max-md:text-2.5xl"
                  ) $50.00
              div(class="content-btn mb-7.5")
                a(
                  class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden mr-2 px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] xl:mr-4",
                  href="shop-wishlist.html"
                ) ADD TO CART
                a(
                  class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                  href="product-default.html"
                ) VIEW DETAIL
          div(class="slick-slide")
            div(class="h-full relative pr-3.6 pl-0.5 z-[2] pb-7.5 max-md:pb-0")
              h1(class="capitalize mb-5") Vintage Denim Overalls Shorts.
              div(class="flex items-center mb-10 max-3xl:mb-5")
                div(class="mr-[90px] max-md:mr-2.5")
                  span(class="text-sm font-semibold block") Price
                  span(
                    class="font-semibold inline-block text-4.5xl max-md:text-2.5xl"
                  ) $65.00
              div(class="content-btn mb-7.5")
                a(
                  class="btn py-3 text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden mr-2 px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] xl:mr-4",
                  href="shop-wishlist.html"
                ) ADD TO CART
                a(
                  class="btn py-3 text-base inline-block font-medium font-Lufga border border-secondary rounded-xl duration-700 relative overflow-hidden px-7.5 max-sm:px-6 max-sm:text-sm leading-[1.2] hover:bg-secondary hover:text-white",
                  href="product-default.html"
                ) VIEW DETAIL
      div(class="lg:w-1/2")
        div(class="relative slider-thumbs w-[65vw] max-xl:w-[75vw] max-lg:!w-[125vw]")
          div(class="pr-20 slick-slide max-xl:pr-10")
            div(data-name="Winter", class="relative z-1 duration-75 delay-75 banner-media")
              div(class="relative img-preview pl-0.5")
                img(
                  class="w-full block rounded-4xl max-md:rounded-3xl",
                  alt="banner-media",
                  src="/client/assets/images/banner/banner-media.png"
                )
          div(class="pr-20 slick-slide max-xl:pr-10")
            div(data-name="Summer", class="relative z-1 duration-75 delay-75 banner-media")
              div(class="relative img-preview pl-0.5")
                img(
                  class="w-full block rounded-4xl max-md:rounded-3xl",
                  alt="banner-media",
                  src="/client/assets/images/banner/banner-media2.png"
                )
          div(class="pr-20 slick-slide max-xl:pr-10")
            div(
              data-name="Leggings",
              class="relative z-1 duration-75 delay-75 banner-media"
            )
              div(class="relative img-preview pl-0.5")
                img(
                  class="w-full block rounded-4xl max-md:rounded-3xl",
                  alt="banner-media",
                  src="/client/assets/images/banner/banner-media.png"
                )
          div(class="pr-20 slick-slide max-xl:pr-10")
            div(data-name="Dress", class="relative z-1 duration-75 delay-75 banner-media")
              div(class="relative img-preview pl-0.5")
                img(
                  class="w-full block rounded-4xl max-md:rounded-3xl",
                  alt="banner-media",
                  src="/client/assets/images/banner/banner-media4.png"
                )
          div(class="pr-20 slick-slide max-xl:pr-10")
            div(data-name="Shorts", class="relative z-1 duration-75 delay-75 banner-media")
              div(class="relative img-preview pl-0.5")
                img(
                  class="w-full block rounded-4xl max-md:rounded-3xl",
                  alt="banner-media",
                  src="/client/assets/images/banner/banner-media5.png"
                )
    div(
      data-wow-delay="1.0s",
      class="w-fit flex gap-5 absolute z-99 pl-0 items-end wow fadeInUp bottom-[90px] max-3xl:bottom-14.5 max-[1366px]:pl-0 max-lg:static max-lg:mt-7.5 max-sm:hidden"
    )
      svg(
        fill="none",
        viewBox="0 0 76 76",
        height="76",
        width="76",
        xmlns="http://www.w3.org/2000/svg"
      )
        path(
          fill="black",
          d="M52.6617 37.6496L58.7381 40.0325L75.0609 49.0874L66.6016 63.7422L49.9214 54.6872L45.1557 50.7554L46.1088 57.1892V75.18H28.952V57.1892L30.0243 50.5171L24.9011 54.6872L8.45924 63.7422L0 49.0874L16.3228 39.7942L22.3991 37.6496L16.3228 35.1475L0 26.2117L8.45924 11.557L25.1394 20.4928L30.0243 24.6629L28.952 18.3482V0H46.1088V18.3482L45.1557 24.4246L49.9214 20.4928L66.6016 11.557L75.0609 26.2117L58.7381 35.3858L52.6617 37.6496Z"
        )
      div
        span(class="font-bold block text-sm mb-2.5") Summer Collection
        h4(class="text-xl font-medium uppercase w-[55%]") Trendy and Classic for the New Season
    svg(
      fill="none",
      viewBox="0 0 94 94",
      height="94",
      width="94",
      xmlns="http://www.w3.org/2000/svg",
      class="absolute z-1 top-10 animate-rotate left-[45%] max-lg:top-7.5 max-lg:left-[70%] max-2xl:w-[35px] max-3xl:w-9 max-xl:hidden translate-y-[-43%] -translate-x-2.5"
    )
      path(
        fill="#FEEB9D",
        d="M47 0L53.8701 30.4141L80.234 13.766L63.5859 40.1299L94 47L63.5859 53.8701L80.234 80.234L53.8701 63.5859L47 94L40.1299 63.5859L13.766 80.234L30.4141 53.8701L0 47L30.4141 40.1299L13.766 13.766L40.1299 30.4141L47 0Z"
      )
    svg(
      fill="none",
      viewBox="0 0 82 94",
      height="94",
      width="82",
      xmlns="http://www.w3.org/2000/svg",
      class="absolute z-1 animate-rotate top-6.1 right-[13%] max-2xl:w-[35px] max-xl:hidden max-3xl:w-9 translate-y-[-15%] -translate-x-2.5"
    )
      path(
        fill="black",
        d="M41 0L45.277 39.592L81.7032 23.5L49.554 47L81.7032 70.5L45.277 54.408L41 94L36.723 54.408L0.296806 70.5L32.446 47L0.296806 23.5L36.723 39.592L41 0Z"
      )
    a(
      href="https://www.youtube.com/watch?v=YwYoyQ1JdpQ",
      class="absolute z-999 animation-btn popup-youtube top-[65%] left-[39%] w-[140px] max-xl:hidden"
    )
      div(
        class="flex justify-center items-center rounded-full animate-rotate text-center text-row word-rotate-box c-black size-[140px] after:content-[\'\'] after:absolute after:top-0 after:left-0 after:size-full after:-z-1 after:rounded-full"
      )
        span(class="word-rotate") More Collection Explore
        i(class="fa-solid fa-play text-dark badge__emoji")
