// Collection Section Start
section(class="adv-area")
  div(class="container-fluid !px-0")
    div(class="row product-style2 g-0")
      div(data-wow-delay="0.1s", class="w-full wow fadeInUp lg:w-1/2")
        div(
          class="relative overflow-hidden product-box style-4 h-[550px] max-xl:h-[400px] max-sm:!h-[280px]"
        )
          div(
            class="size-full bg-cover bg-no-repeat bg-center bg-[url(\'../images/shop/large/product1.png\')]"
          )
          div(
            class="absolute text-center sale-box top-1/2 right-1/4 [transform:translate(50%,_-50%)] p-[65px] max-xl:p-[55px] max-md:!p-10 max-4xl:right-[30%]"
          )
            div(class="font-black text-base uppercase mb-1 max-sm:text-xs") Sale Up to 50% Off
            h2(
              class="mb-2 uppercase text-4.5xl max-xl:text-3xl max-sm:!text-base tracking-[8px] max-sm:!leading-[1.4]"
            )
              | Summer
              span(
                class="block font-semibold tracking-normal text-8.5xl max-xl:text-7xl max-sm:!text-5xl !leading-[1]"
              ) 2024
            a(
              class="btn text-base inline-block font-medium font-Lufga border border-secondary rounded-xl bg-white duration-700 relative overflow-hidden uppercase py-3.6 px-[35px] max-sm:py-2 max-sm:px-4 max-sm:text-2xs leading-[1.2] hover:bg-secondary hover:text-white",
              href="shop-list.html"
            ) Shop Now
      div(data-wow-delay="0.2s", class="w-full wow fadeInUp lg:w-1/2")
        div(
          class="relative overflow-hidden h-[550px] max-xl:h-[400px] max-sm:!h-[280px]"
        )
          div(
            class="size-full bg-cover bg-no-repeat bg-center bg-[url(\'../images/shop/large/product2.png\')]"
          )
          div(
            class="flex items-start justify-center absolute size-full left-0 bottom-0 flex-col p-17 z-1 max-4xl:p-13.5 max-sm:!p-[15px]"
          )
            div(class="main-content")
              div(class="font-black text-base uppercase mb-4 max-sm:text-xl") Sale Up to 50% Off
              h2(
                class="text-6xl uppercase max-xl:text-4.5xl max-sm:!text-3xl mb-7.5 max-w-[540px] leading-[1.1]"
              ) New Summer Collection
            a(
              class="btn text-base font-Lufga inline-block font-medium border border-secondary bg-secondary text-white rounded-xl duration-700 relative overflow-hidden uppercase py-3.6 px-[35px] leading-[1.2]",
              href="shop-list.html"
            ) Shop Now

// Collection Section End
