section(class="pt-17 overflow-hidden pb-13.5 max-lg:pt-13.5 max-lg:pb-5")
  // Dz Silder Start
  div(class="relative border-y border-black -rotate-2 overflow-hidden z-[1000]")
    ul(
      class="px-5 z-1 relative flex items-center flex-nowrap animate-ticker py-2.5 max-sm:py-0"
    )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Jacket
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Jeans
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Shirts
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Shorts
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) t-shirt
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Blazer
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Jacket
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Jeans
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Shirts
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        h2(
          class="text-5xl uppercase w-max font-normal max-sm:text-3xl tracking-[12px] leading-[1]"
        ) Shorts
      li(
        class="px-5 flex items-center py-3.6 max-xl:py-2.5 max-xl:px-5 max-sm:!p-2.5"
      )
        svg(
          fill="none",
          viewBox="0 0 61 60",
          height="60",
          width="61",
          xmlns="http://www.w3.org/2000/svg"
        )
          path(
            fill="black",
            d="M29.302 -0.00499268L38.533 21.2005L60.3307 28.9297L39.1253 38.1607L31.396 59.9585L22.165 38.753L0.367297 31.0237L21.5728 21.7928L29.302 -0.00499268Z",
            opacity="0.3"
          )
// Dz Silder End
