fieldset(
     summary="Thông tin cơ bản",
     open,
     class="hover:border-[1px] border-dashed rounded-[10px] border-[#357D02] bg-[white]"
)
     div(class="px-[16px] py-[10px] border-b-[1px] border-[#e0e0e0]")
          legend(class="text-[15px] text-[var(--color-text)] font-[700]") Thông tin cơ bản
     div(class="px-[16px] py-[10px]")
          div(class="flex flex-col gap-y-[10px]" method = 'post' enctype="multipart/form-data")
               div(class="")
                    sl-input(
                         required,
                         label="Tên sản phẩm",
                         help-text="Tên sản phẩm + Thương hiệu + Model + Thông số kỹ thuật",
                         placeholder="Nhập tên sản phẩm",
                         name="name",
                         type="text",
                         value="ĐỒ ÁN CHUYÊN NGÀNH CNTT",
                         size="small"
                    )
                         div(slot="suffix" count-character class="px-[10px]")
               div(class="relative")
                    sl-input(
                         required,
                         label="Đường dẫn",
                         help-text="Độ dài lý tưởng của một URL cho SEO là 50 đến 60 ký tự.",
                         placeholder="Nhập đường dẫn",
                         type="text",
                         value="do-an-chuyen-nganh-cntt",
                         size="small",
                         name="slug"
                    )
                         div(slot="suffix" count-character class="px-[10px]")
                    button(type='button' class="absolute top-0 right-0 text-[12px] text-[var(--blue-black)] italic" btn-slug) Đồng bộ theo tên
               
               div(class="flex flex-col gap-y-[3px]")
                    label(for="categories" class="text-[var(--color-text)] text-[0.875rem] before:content-['*'] before:text-[var(--red)] before:mr-[10px]") Danh mục sản phẩm
                    select(
                         id="categories"
                         required,
                         label="Danh mục",
                         clearable,
                         placeholder="Chọn hoặc nhập danh mục...",
                         value='',
                         size="small",
                         multiple
                         select-multiple
                    )
                         - if(categories && categories.length > 0)
                              each it in categories
                                   option(value=it.id) #{it.name} 
               div(class="flex flex-col gap-y-[3px]")
                    label(for="brand" class="text-[var(--color-text)] text-[0.875rem] before:content-['*'] before:text-[var(--red)] before:mr-[10px]") Thương hiệu
                    select(
                         id="brand"
                         required,
                         clearable,
                         placeholder="Chọn hoặc nhập thương hiệu...",
                         value="",
                         size="small",
                         multiple
                         select-multiple
                    )
                         - if(branchs && branchs.length > 0)
                              each it in branchs
                                   option(value=it.id) #{it.name} 
               

               div(class="")
                    sl-radio-group(
                         required,
                         label="Sản phẩm nổi bật",
                         value="false",
                         size="small",
                         name="featured"
                    )
                         sl-radio(value="true" class="" ) Có
                         sl-radio(value="false" class="" ) Không
