sl-drawer(label="Video sản phẩm", class="drawer-overview" style="--size: 50vw;)" drawer-preview-video)
     

fieldset(
     summary="",
     open,
     class="bg-[white] hover:border-[1px] border-dashed rounded-[10px] border-[#357D02] "
)
     div(class="px-[16px] py-[10px] border-b-[1px] border-[#e0e0e0] flex justify-between items-center")
          div(class="text-[15px] text-[var(--color-text)] font-[700]") Giá và ảnh sản phẩm
          sl-button(variant='primary' size='small' outline btn-add-group) Thêm nhóm thuộc tính
               sl-icon(slot="prefix" name="plus-circle")
     div(class="px-[16px] py-[10px]" )

          div(class="flex flex-col gap-[5px] my-[10px]") 
               div(class="flex items-center gap-x-[10px]") 
                    h4(class="text-[var(--color-text)] text-[13px]") Video sản phẩm (Tối đa 1 video)
               div(class="flex items-start gap-x-[40px] flex-1" )
                    div(class="custom-file-container w-[70%]" data-upload-id="upload-video-1")
                    div(class="flex items-center gap-x-[10px] w-[25%]")
                         sl-icon(name="trash" class="cursor-pointer text-[#FA4F64]")
                         
                         div(class="flex flex-col flex-1  gap-y-[5px]") 
                              sl-button(variant="success" size='small') Chọn video
                                   sl-icon(slot="prefix" name="images" class="text-[white]")
                              sl-button(variant="neutral" size='small' view-video) Xem video đang phát
                                   sl-icon(slot="prefix" name="eye" class="text-[white]")
          div(class="text-[var(--color-text)] text-[13px] italic") Lưu ý: Khi thêm nhóm thuộc tính thì nhóm thuộc tính đầu tiên sẽ chứa các hình ảnh.
          
          div(parent-group) 

          div(class="" parent-preview-image) 
               div(class="flex flex-col gap-[5px] my-[10px]" upload-image) 
                    div(class="flex items-center gap-x-[10px]") 
                         h4(class="text-[var(--color-text)] text-[13px]") Ảnh sản phẩm (Tối đa 6 ảnh)
                         h4(class="text-[var(--color-text)] text-[13px]" name-attribute)
                         h4(class="text-[var(--color-text)] text-[13px]" value-atribute)
                    div(class="flex items-start gap-x-[40px]" )
                         div(class="custom-file-container w-[70%]" data-upload-id="upload-image-1")
                         div(class="flex items-center gap-x-[10px] w-[25%]")
                              sl-icon(name="trash" class="cursor-pointer text-[#FA4F64]")
                              div(class="flex flex-col flex-1 gap-y-[10px]") 
                                   sl-button(variant="success" class="flex-1" size='small') Chọn ảnh
                                        sl-icon(slot="prefix" name="images" class="text-[white]")
                                   div(class="flex items-center gap-x-[5px]" add-image-from-path) 
                                        sl-input(variant="success" class="flex-1" size='small' placeholder="Dán link ảnh có sẵn...")
                                        button()
                                             sl-icon(name="check-lg" class="text-[var(--green)] cursor-pointer")
                                   
               
          button(test-swap-table) ok nha
          table(class="block max-h-[600px] overflow-auto border-collapse no-scrollbar" table-attribute)
               thead(class="z-30 sticky top-0 bg-[#ECEEF0] !h-[35px]")
                    tr(class="")
                         th(class="text-center px-[10px] w-[1%] ") Trạng thái
                         th(class="text-center px-[10px]" insert-attr-before) SKU
                         th(class="text-center px-[10px]") Giá ban đầu (VNĐ)
                         th(class="text-center px-[10px]") Giá bán (VNĐ)
                         th(class="text-center px-[10px] w-[1%]") Tồn kho
               tbody(class="overflow-y-auto max-h-[500px]")
                    tr(class="h-[50px] text-center")
                         td(class="text-left w-[1%]")
                              sl-switch(
                                   checked,
                                   class="",
                                   style="--width: 50px; --height: 25px"
                              )
                         td(class="text-left w-auto px-[10px]" insert-attr-before)
                              sl-input(
                                   required,
                                   class="w-[80%] mx-[auto]",
                                   placeholder="Nhập SKU",
                                   type="text",
                                   value="",
                                   size="small",
                                   name='sku'
                              )
                         td(class="text-left w-auto px-[10px]")
                              input(
                                   money-input,
                                   required,
                                   placeholder="Nhập giá",
                                   type="text",
                                   value="",
                                   name='price-before-discount'
                                   size="small",
                                   class="w-[10rem] mx-auto block input input-xs outline-none px-[0.75rem] border-[1px] border-[hsl(240 5.3% 26.1%)]" 
                                   style="height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2)" 
                              )
                         td(class="text-left w-auto px-[10px]")
                              input(
                                   money-input,
                                   required,
                                   placeholder="Giá bán sau khi giảm",
                                   type="text",
                                   value="",
                                   name='price-after-discount'
                                   size="small",
                                   class="w-[12rem] mx-auto block input input-xs outline-none px-[0.75rem] border-[1px] border-[hsl(240 5.3% 26.1%)]" 
                                   style="height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2)" 
                              )
                         td(class="text-left w-fit")
                              sl-input(
                                   required,
                                   placeholder="Nhập tồn kho",
                                   type="text",
                                   value="0",
                                   size="small",
                                   name='stock'
                                   class="w-[80%] mx-auto"
                              )
          
