header.topbar
  .container-fluid
    .navbar-header
      .d-flex.align-items-center
        // Menu Toggle Button
        .topbar-item
          button.button-toggle-menu.me-2(type="button")
            iconify-icon.fs-24.align-middle(icon="solar:hamburger-menu-broken")
        // Menu Toggle Button
        .topbar-item
          h4.fw-bold.topbar-button.pe-none.text-uppercase.mb-0 Welcome!
      .d-flex.align-items-center.gap-1
        // Theme Color (Light/Dark)
        .topbar-item
          button#light-dark-mode.topbar-button(type="button")
            iconify-icon.fs-24.align-middle(icon="solar:moon-bold-duotone")
        // Notification
        .dropdown.topbar-item
          button#page-header-notifications-dropdown.topbar-button.position-relative(
            aria-expanded="false" 
            aria-haspopup="true" 
            data-bs-toggle="dropdown" 
            type="button"
            )
            iconify-icon.fs-24.align-middle(icon="solar:bell-bing-bold-duotone")
            span.position-absolute.topbar-badge.fs-10.translate-middle.badge.bg-danger.rounded-pill
              | 3
              span.visually-hidden unread messages
          .dropdown-menu.py-0.dropdown-lg.dropdown-menu-end(aria-labelledby="page-header-notifications-dropdown")
            .p-3.border-top-0.border-start-0.border-end-0.border-dashed.border
              .row.align-items-center
                .col
                  h6.m-0.fs-16.fw-semibold Notifications
                .col-auto
                  a.text-dark.text-decoration-underline(href="javascript: void(0);")
                    small Clear All
            div(
              style="max-height: 280px;" 
              data-simplebar=""
              )
              // Item
              a.dropdown-item.py-3.border-bottom.text-wrap(href="javascript:void(0);")
                .d-flex
                  .flex-shrink-0
                    img.img-fluid.me-2.avatar-sm.rounded-circle(
                      alt="avatar-1" 
                      src="/admin/assets/images/users/avatar-1.jpg"
                      )
                  .flex-grow-1
                    p.mb-0
                      span.fw-medium Josephine Thompson
                      | commented on admin panel
                      span " Wow 😍! this admin looks good and awesome design"
              // Item
              a.dropdown-item.py-3.border-bottom(href="javascript:void(0);")
                .d-flex
                  .flex-shrink-0
                    .avatar-sm.me-2
                      span.avatar-title.bg-soft-info.text-info.fs-20.rounded-circle D
                  .flex-grow-1
                    p.mb-0.fw-semibold Donoghue Susan
                    p.mb-0.text-wrap Hi, How are you? What about our next meeting
              // Item
              a.dropdown-item.py-3.border-bottom(href="javascript:void(0);")
                .d-flex
                  .flex-shrink-0
                    img.img-fluid.me-2.avatar-sm.rounded-circle(
                      alt="avatar-3" 
                      src="/admin/assets/images/users/avatar-3.jpg"
                      )
                  .flex-grow-1
                    p.mb-0.fw-semibold Jacob Gines
                    p.mb-0.text-wrap Answered to your comment on the cash flow forecast's graph 🔔.
              // Item
              a.dropdown-item.py-3.border-bottom(href="javascript:void(0);")
                .d-flex
                  .flex-shrink-0
                    .avatar-sm.me-2
                      span.avatar-title.bg-soft-warning.text-warning.fs-20.rounded-circle
                        iconify-icon(icon="iconamoon:comment-dots-duotone")
                  .flex-grow-1
                    p.mb-0.fw-semibold.text-wrap
                      | You have received
                      b 20
                      | new messages in the conversation
              // Item
              a.dropdown-item.py-3.border-bottom(href="javascript:void(0);")
                .d-flex
                  .flex-shrink-0
                    img.img-fluid.me-2.avatar-sm.rounded-circle(
                      alt="avatar-5" 
                      src="/admin/assets/images/users/avatar-5.jpg"
                      )
                  .flex-grow-1
                    p.mb-0.fw-semibold Shawn Bunch
                    p.mb-0.text-wrap Commented on Admin
            .text-center.py-3
              a.btn.btn-primary.btn-sm(href="javascript:void(0);")
                | View All Notification
                i.bx.bx-right-arrow-alt.ms-1
        // Theme Setting
        .topbar-item.d-none.d-md-flex
          button#theme-settings-btn.topbar-button(
            aria-controls="theme-settings-offcanvas" 
            data-bs-target="#theme-settings-offcanvas" 
            data-bs-toggle="offcanvas" 
            type="button"
            )
            iconify-icon.fs-24.align-middle(icon="solar:settings-bold-duotone")
        // Activity
        .topbar-item.d-none.d-md-flex
          button#theme-settings-btn.topbar-button(
            aria-controls="theme-settings-offcanvas" 
            data-bs-target="#theme-activity-offcanvas" 
            data-bs-toggle="offcanvas" 
            type="button"
            )
            iconify-icon.fs-24.align-middle(icon="solar:clock-circle-bold-duotone")
        // User
        .dropdown.topbar-item
          a#page-header-user-dropdown.topbar-button(
            aria-expanded="false" 
            aria-haspopup="true" 
            data-bs-toggle="dropdown" 
            type="button"
            )
            span.d-flex.align-items-center
              img.rounded-circle(
                alt="avatar-3" 
                src="/admin/assets/images/users/avatar-1.jpg" 
                width="32"
                )
          .dropdown-menu.dropdown-menu-end
            // item
            h6.dropdown-header Welcome Gaston!
            a.dropdown-item(href="pages-profile.html")
              i.bx.bx-user-circle.text-muted.fs-18.align-middle.me-1
              span.align-middle Profile
            a.dropdown-item(href="apps-chat.html")
              i.bx.bx-message-dots.text-muted.fs-18.align-middle.me-1
              span.align-middle Messages
            a.dropdown-item(href="pages-pricing.html")
              i.bx.bx-wallet.text-muted.fs-18.align-middle.me-1
              span.align-middle Pricing
            a.dropdown-item(href="pages-faqs.html")
              i.bx.bx-help-circle.text-muted.fs-18.align-middle.me-1
              span.align-middle Help
            a.dropdown-item(href="auth-lock-screen.html")
              i.bx.bx-lock.text-muted.fs-18.align-middle.me-1
              span.align-middle Lock screen
            .dropdown-divider.my-1
            a.dropdown-item.text-danger(href="auth-signin.html")
              i.bx.bx-log-out.fs-18.align-middle.me-1
              span.align-middle Logout
        // App Search
        form.app-search.d-none.d-md-block.ms-2
          .position-relative
            input.form-control(
              value="" 
              autocomplete="off" 
              placeholder="Search..." 
              type="search"
              )
            iconify-icon.search-widget-icon(icon="solar:magnifer-linear")
